---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
ColumnLimit: 0
SortIncludes: true

AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
ContinuationIndentWidth: 8
SpaceBeforeParens: ControlStatements
ReflowComments: false
